body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/* header start from here */
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
}
.left-block h2 {
  margin-left: 100px;
  font-size: 30px;
}
.center-headblock {
  flex-grow: 1;
  margin-left: 15%;
  margin-top: 5px;
  display: flex;
  font-size: 16px;
  position: relative;
}
.center-headblock h4:nth-child(1) {
  font-size: 16px;
  color: #ff4c60;
}
.fa-behance-square {
  font-size: 20px;
}
.center-headblock h4:nth-child(2) {
  margin-left: 55px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
nav ul {
  display: flex;
}
nav ul li {
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  background: rgb(27, 77, 74);
  display: flex;
  margin: 0px 15px;
}
.fa-bars {
  font-size: 30px;
}
.toggle-navbar {
  background: none;
  border: none;
  cursor: pointer;
}
/* header end  here */
/* banner start from here */
.banner-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  align-items: center;
}
.left-banner {
  margin-top: 150px;
  line-height: 1;
  font-size: 25px;
}
.left-banner h2 {
  color: #ff4c60;
  font-size: 40px;
}
.left-banner h1:nth-child(1) {
  font-size: 30px;
}
.right-banner {
  margin-left: 100px;
}
.left-banner h1:nth-child(3),
.left-banner span {
  color: #ff4c60;
  font-weight: normal;
  font-style: italic;
  margin-top: -15px;
  font-size: 35px;
}
.container-section {
  display: flex;
}
.heading-section {
  margin-top: 100px;
  display: flex;
  background: #fff2f6;
  padding: 45px 100px;
  justify-content: space-between;
  border-radius: 8px;
}
.newslatter-section a {
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none;
}
.content-section {
  line-height: 0.81;
}
.content-section h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.input-text {
  padding: 30px 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: auto;
  margin-left: 30px;
  margin-top: 50px;
  width: 300px;
}
.categories-section {
  width: 100%;
  justify-content: space-between;
  margin-top: 200px;
  display: flex;
}
.skills-left {
  padding: 50px;
  background: #fff2f6;
  border-radius: 20px;
}

.skills-left img {
  display: block;
  margin: auto;
}
.skills-right {
  margin-top: 50px;
  margin-left: 100px;
}
.skills-right h2 {
  margin-top: 50px;
}
.subscribe-link {
  margin: auto;
  vertical-align: center;
}
.service-section {
  background: #fff;
  /* margin-bottom: -90px; */
}
.service-section h2 {
  text-align: center;
}
.webicon {
  width: 100%;
  margin: auto;
  margin-left: -100px;
}
.webicon ul {
  display: flex;
}
.webicon ul li {
  list-style: none;
  margin: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  padding: 15px;
}
.icons {
  height: 100px;
  width: 100px;
}
.client-icons {
  font-size: 60px;
  margin: auto;
}
.client-icons > .fa-facebook,
.fa-amazon-pay {
  margin-left: 100px;
}
.social-icons {
  font-size: 40px;
  margin: auto;
}
.social-icons > .fab {
  margin-left: 60px;
  line-height: 015px;
  text-align: center;
}
.social-icons p {
  font-size: 18px;
}
.mask-group {
  margin-top: 150px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.center-maskgroup {
  margin-top: 150px;
}
.right-maskgroup {
  margin-top: 300px;
}
.contact-icon {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 55px;
  color: #ff4c60;
  position: relative;
}
.contact-icon p {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
form {
  position: absolute;
  padding: 20px;
  width: 40%;
  background: #ff4c60;
  right: 1px;
  border-radius: 8px;
  bottom: -30px;
}
.contact-section {
  position: relative;
}
footer {
  width: 100%;
  margin-top: 60px;
  height: 60px;
  background: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}
